<h2><%= board.escape('title') %></h1>

<h2>Lists</h2>
<a href='#/boards/<%= board.id %>/lists/new'>New List</a>
<ul id="sortable" class='lists group'>
  <% board.lists().forEach(function (list) { %>
    <li class='list'>

      <%= list.escape('title') %>
      <ul id="sortable" class='cards'>
        <% list.cards().each(function (card) { %>
          <li class='card'>
            <%= card.escape('title') %><br>
            <%= card.escape('description') %>
            <button
              data-card-id="<%= card.id %>"
              data-list-id="<%= list.id %>"
              class='delete-card'>Delete Card</button>
          </li><br>
        <% }) %>
      </ul>
      <a href="#/boards/<%= board.id %>/lists/<%= list.id %>/cards/new">New Card</a>
      <button data-list-id="<%= list.id %>" class='delete-list'>Delete List</button>
    </li>
  <% }) %>
</ul>


<button class='delete-board'>Delete Board</button>
<script>
  $(function() {
    debugger
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
</script>
